<div id="<%= dom_id user_address %>">
  <p>
    <strong>Street:</strong>
    <%= user_address.street %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= user_address.number %>
  </p>

  <p>
    <strong>City:</strong>
    <%= user_address.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= user_address.state %>
  </p>

  <p>
    <strong>User:</strong>
    <%= user_address.user_id %>
  </p>

</div>
