<div id="<%= dom_id todo %>">
  <p>
    <strong>Title:</strong>
    <%= todo.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= todo.description %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= todo.completed %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= todo.date %>
  </p>

</div>
